.student {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #eee;
}

.student form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 25%;
}

.student form label {
    font-size: 22px;
    font-weight: 500;
}

.student form input {
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    outline: none;
    color: #a8a8a8;
}

.student form input::placeholder {
    color: #a8a8a8;
}

.student form button {
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border: none;
    margin: 0 auto;
    background-color: #0069d9;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
